extends layout

block content

    h1= title

    form(method='POST' action='')
        div
            label(for='username') Username:
            input(type='text' name='username' placeholder='Username')

        div
            label(for='password') Password:
            input(type='password' name='password')

        button(type='submit') Log In

