extends layout

block content

    h1 Become a Full Fledged Member
    form(method='POST' action='')
        label(for='member_status') Enter the super secret pass code:
        input(type='password' name='member_status')
        button(type='submit') Submit