extends layout

block content

    h1= title

    form(method='POST' action='')
        div
            label(for='title') Message Title:
            input(type='text' placeholder='Title' name='title')
        div
            label(for='text') Message Text:
            textarea(placeholder='Type your message here.' name='text' rows='6' cols='60')

        button(type='submit') Submit Message

